var config = {};

config.discord = {};
config.youtube_api_key = 'YoutubeAPIKey';

config.discord.username = 'email@example.com';
config.discord.password = 'password';

config.admins = ['Echo Utrigas'];
config.timer = 5; //Time in minutes between checks

config.mysql = {};
config.mysql.user = "root";
config.mysql.password = "password";
config.mysql.host = "localhost";
config.mysql.database = "discord";
config.mysql.table = "discord_fits";

config.zkill_corp_id =  '' //The ID of the corp in Zkill for kill stream

module.exports = config;
